target/
.project
.classpath
.settings/
.externalToolBuilders
.DS_Store
/pom.xml.releaseBackup
.idea
*.iml

chain-icp-brasil-homolog/novascadeias/*
chain-icp-brasil-homolog/novosp7bs/*
chain-icp-brasil-homolog/log_importacao.txt
chain-icp-brasil/src/scripts_keytool/novascadeias/

chain-icp-brasil/src/scripts_keytool/import.log
chain-icp-brasil-homolog/import.log
policy-engine/automacao-atualizacao/validacao-hash/*
policy-engine/automacao-atualizacao/politicas-baixadas/*
policy-engine/automacao-atualizacao/baixar-politicas.log
