target/
.project
.classpath
.settings/
.externalToolBuilders
.DS_Store
/pom.xml.releaseBackup
.idea
*.iml

chain-icp-brasil-homolog/novascadeias/
chain-icp-brasil-homolog/novosp7bs/
chain-icp-brasil-homolog/log_importacao.txt
