[Desktop Entry]
Type=Application
Name=Signer Desktop Agent 3.0.0-SNAPTSHOT
Comment=Desktop client for demoiselle signer
Comment[pt_BR]=Cliente desktop para demoiselle signer
Encoding=UTF-8
Exec=/bin/bash /opt/demoiselle/tool/signer-agent-desktop/signerDesktopAgent.sh &
GenericName=Signer Desktop Agent
GenericName[pt_BR]=Signer Desktop Agent
Icon=/opt/demoiselle/tool/signer-agent-desktop/agent-desktop.png
Terminal=false