<!DOCTYPE html >

<head>
    <meta charset="utf-8">
    <title>Demoiselle Signer - Desktop Web Example</title>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

    <!-- JS -->
    <script src="./lib.min.js"></script>
    <script src="./app.min.js"></script>

    <!-- CSS -->
    <link href="./app.min.css" rel="stylesheet" type="text/css" />
    <link href="./lib.min.css" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />

    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />

</head>

<html>

<body ng-app="agent" ng-controller="MainController">

    <div class="container">
        <div class="header clearfix">
            <div class="col-md-4 text-center vcenter">
                <span class="glyphicon glyphicon-flash" aria-hidden="true" style="font-size: 100px; color: #d24600;"></span>
            </div>
            <div class="col-md-8 text-center vcenter">
                <h2><b>Signer</b> Example Project</h2>
                <p style="margin: 0px; padding: 0px;">
                    <b>Web Extension Installed</b> <span ng-show="webExtensionIsOn">YEP</span><span ng-show="!webExtensionIsOn">NOPE</span>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true" style="font-size: 30px; color: #C9302C;" ng-show="!webExtensionIsOn"></span>
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size: 30px; color: #449D44;" ng-show="webExtensionIsOn"></span>

                    <br/>

                    <b>Desktop Client is Installed/Running</b> <span ng-show="desktopClientIsOn">YEP</span><span ng-show="!desktopClientIsOn">NOPE</span>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true" style="font-size: 30px; color: #C9302C;" ng-show="!desktopClientIsOn"></span>
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size: 30px; color: #449D44;" ng-show="desktopClientIsOn"></span>
                </p>
            </div>
        </div>

        <div ng-show="!webExtensionIsOn || !desktopClientIsOn">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Pre Requisites <small>You need two components to work</small></h1>
                    </div>
                </div>
            </div>
            <div class="text-center padding">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Extension ID</label>
                        <input type="text" class="form-control text-center" placeholder="Extension ID" ng-model="webExtensionId">
                    </div>
                </form>
            </div>
            <div class="text-center padding">
                1. <a href="./signer.jar">Download and Install Web Extension (Google Chrome)</a>
                2. <a href="./agent-desktop-3.0.0-SNAPSHOT.jar">Download Java Program Here</a><br/> 3. Start program with
                <b>double click</b> OR <b>java -jar ./agent-desktop-3.0.0-SNAPSHOT.jar</b>
            </div>
        </div>

        <div ng-show="webExtensionIsOn && desktopClientIsOn">

            <!-- STEP 3 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><b>Step 1</b> - Sign File <small>Generate p7s file</small></h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <button class="btn btn-md btn-success" ng-click="signFile()" role="button">Sign File</button>

                    <div class="padding" style="margin-top: 10px;" ng-show="fileName">
                        Original File: {{fileName}}
                    </div>
                    <div class="padding" ng-show="signedFileName">
                        Signed File: {{signedFileName}}
                    </div>

                </div>
            </div>

            <!-- STEP 3 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><b>Step 2</b> - Validate File <small>Enter the original and p7s files</small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-md btn-success" ng-click="validateFile()" role="button">Validate File</button>

                    <div class="padding" style="margin-top: 10px;" ng-show="message">
                        <span ng-show="valid" style="font-weight: bold; font-size: 110%;">Assinatura Válida</span>
                        <span ng-show="!valid" style="font-weight: bold; font-size: 110%;">Assinatura NÃO Válida</span> {{message}}
                    </div>
                    <div class="padding" ng-show="subject">
                        {{subject}}
                    </div>

                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer text-center" style="margin-top: 20px;">
            <p>SERPRO</p>
        </footer>

    </div>

</body>

</html>