#welcome-text {
   -fx-font-size: 18px;
   -fx-font-weight: bold;
   -fx-fill: #818181;
   -fx-font-color: blue;
   -fx-padding: 250 20 40 20;

}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
