name = Provedor
slot = 2
# depende da arquitetura
library = /usr/lib/x86_64-linux-gnu/nss/libsoftokn3.so
# library = /usr/lib/i386-linux-gnu/nss/libsoftokn3.so
# configdir conforme o usuario
nssArgs = "configdir='.mozilla/firefox/{numero}.default' certPrefix='' keyPrefix='' secmod='secmod.db'  flags='readWrite'"